.section--works{
    background: black;
    color: white;
    .row-content{
        display: flex;
        .col-title{
            flex: 0 0 240px;
            border-right: 1px solid var(--gray-dark);
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            padding-top: var(--space-xl);
            .title{
                transform-origin: 100% 0%;
                transform: rotate(-90deg) translateY(-100%);
                line-height: 1;
                font-size: var(--fontsize-title);
                display: block;
            }
        }
        .col-content{
            flex: 1;
            padding-left: var(--gutter);
            padding-right: var(--gutter);
        }
    }
    .work-items{
        width: 100%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-top: var(--space-xl);
        padding-bottom: var(--space-xl);
        .row{
            display: flex;
            width: 100%;
            border-top: 1px solid white;
            padding: 0.5em 0;
            &--head{
                color: var(--gray);
                font-size: var(--fontsize-caption);
                padding-bottom: 2rem;
            }
            &:last-child{
                border-bottom: 1px solid white;
            }
            &:not(.row--head):hover{
                background: white;
                color: black;
            }
            .cell{
                flex: 0 0 180px;
                &--client{
                    flex: 1;
                }
                &:last-child{
                    text-align: right;
                }
            }
        }
    }
    @include isMobile{
        .row-content{
            flex-direction: column;
            width: 100%;
            padding: var(--space-lg) 0;
            .col-title{
                flex: 0 0 auto;
                border-right: 0;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0 var(--gutter);
                .title{
                    transform: rotate(0deg) translateX(0%);
                }
            }
            .col-content{
                padding: 0 var(--gutter);
            }
        }
        .work-items{
            width: 100%;
            padding: 0 0;
            padding-top: 0;
            padding-bottom: 0;
            .row{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                border-top: 1px solid white;
                padding: 2em 0 0;
                &--head{
                    display: none;
                }
                &:last-child{
                    border-bottom: 1px solid white;
                }
                &:not(.row--head):hover{
                    background: white;
                    color: black;
                }
                .cell{
                    flex: 0 0 50%;
                    font-size: 1rem;
                    color: var(--gray);
                    &--client{
                        flex: 0 0 100%;
                        font-size: 2rem;
                        color: white;
                    }
                    &:last-child{
                        text-align: right;
                    }
                }
            }
        }
    }
}

.popup-workdetails{
    $rollin: 0.4s;
    $rollout: 0.2s;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 99;
    transform: translateX(-100%);
    transition: transform $rollout cubic-bezier(.7,0,.5,1);
    will-change: transition;
    &.active{
        transition-duration: $rollin;
        transform: translateX(0%);
        .row-content{
            opacity: 1;
            transition: all 0.8s ease;
            transition-delay: $rollin + 0.2s;
        }
    }
    &-wrapper{
        position: relative;
        height: 100%;
    }
    .btn-back{
        position: absolute;
        z-index: 3;
        top: var(--space-md);
        left: var(--gutter);
        will-change: transform;
        width: 160px;   
        transition: all 0.4s ease;
        .arrow-head{
            position: relative;
            width: 60px;
            height: 60px;
            display: block;
            &:before,&:after{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 50%;
                height: 2px;
                background: black;
                transform-origin: 0% 0%;
            }
            &:before{
                transform: rotate(-45deg);
            }
            &:after{
                transform: rotate(45deg);
            }
        }
        .line{
            position: absolute;
            left: 10px;
            top: 50%;
            width: 100%;
            height: 2px;
            background: black;
            transform-origin: 0% 50%;
            transform: scaleX(100%) ;
            will-change: transform;
            transition: all 0.4s ease;
        }
        &:hover{
            transform: translateX(-5%) ;
            .line{
                transform: scaleX(40%) ;
            }
        }
    }
    //layout
    .row-content{
        display: flex;
        height: 100%;
        opacity: 0;
        transition-delay: $rollout;
        .col-cover{
            position: relative;
            background: white;
            flex: 0 0 50%;
        }
        .col-details{
            position: relative;
            background: black;
            flex: 0 0 50%;
            p{
                @apply mb-lg;
            }
            img{
                display: block;
                width: 80%;
                background: #111;
                @apply mt-sm p-sm;
            }
            video{
                display: block;
                width: 60%;
                @apply mt-sm;
            }
        }
        @include isMobile{
            display: block;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            .col-details{
                img{
                    width: 90%;
                }
            }
            .col-cover{
                height: 100vh;
            }
        }
    }
    //position
    .col-cover{
        display: flex;
        align-items: center;
        .title{
            font-size: var(--fontsize-title);
            position: absolute;
            width: 100%;
            padding: 0 var(--gutter);
            bottom: var(--space-lg);
            left: 0;
            z-index: 3;
            line-height: 1;
        }
        .mediaContainer{
            perspective: 60vw;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            @include isMobile{
                perspective: 100vw;
            }
            .vdo--vertical,
            .img--vertical{
                width: 40%;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .static,
        .vdo{
            display: block;
            transform: rotateX(45deg) rotateY(5deg) rotateZ(-15deg);
            box-shadow: 0 20px 20px rgba(0,0,0,0.3);
        }
        .static{
            animation: floating 1s ease-in-out 0s infinite alternate;
        }
        .vdo{
            transition: all 0.2s ease;
            will-change: transform;
            &:hover{
                transform: rotateX(0deg) rotateY(0deg) rotateZ(-0deg);
                box-shadow: 0 0px 20px rgba(0,0,0,0.1);
            }
        }
    }
    .col-details{
        padding-top: var(--space-md);
        padding-bottom: var(--space-md);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        overflow-x: hidden;
        .top{
            padding: 0 calc(var(--gutter)*2) var(--space-lg);
            flex: 0 0 auto;
            color: white;
            font-size: var(--fontsize-body-lg);
        }
        .bottom{
            flex: 0 0 auto;
            padding: 0 calc(var(--gutter)*2);
            color: white;
            table{
                font-size: var(--fontsize-caption);
                td{
                    padding-right: 1em;
                    &:first-child{
                        opacity: 0.4;
                        text-transform: capitalize;
                    }
                    .icon{
                        opacity: 0.4;
                        display: inline-block;
                        vertical-align: text-bottom;
                    }
                }
            }
        }
        @include isMobile{
            .top{
                padding: 0 var(--gutter) var(--space-lg);
            }
            .bottom{
                padding: 0 var(--gutter);
            }
        }
    }

}
.overlay-work{
    position: fixed;
    width: 600px;
    z-index: 10;
    top: 0;
    left: 0;
    margin-left: -30px;
    margin-top: -30px;
    pointer-events: none;
    display: none;
    &.active{
        display: block;
    }
    img{
        display: block;
        width: auto;
        height: auto;
    }
}

@keyframes floating {
    from{
        transform: rotateX(45deg) rotateY(5deg) rotateZ(-15deg) translateZ(-10px);
        box-shadow: 0 20px 20px rgba(0,0,0,0.3);
    }
    to{
        transform: rotateX(45deg) rotateY(5deg) rotateZ(-15deg) translateZ(0px);
        box-shadow: 0 30px 40px rgba(0,0,0,0.2);
    }
}