@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Nunito:wght@300;400&display=swap');

:root {
    //typeface
    --font-body: "Nunito","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --font-heading: "Nunito","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --font-serif: 'EB Garamond', "Nunito","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,serif;
    --lineheight-body: 1.5;
    --lineheight-heading: 1.2;
    //fontsize
    --fontsize-display: "";
    --fontsize-heading: "";
    --fontsize-subheading: "";
    --fontsize-title: 5rem;
    --fontsize-subtitle: 3.5rem;
    --fontsize-body-lg: 2rem;
    --fontsize-body: 1.5rem;
    --fontsize-caption: 1.1rem;
    //color
    --gray-darkest: #111;
    --gray-darker: #333;
    --gray-dark: #666;
    --gray: #999;
    --gray-light: #aaaaaa;
    --gray-lighter: #dadada;
    --gray-lightest: #f6f6f6;
    //grid
    --gutter: 30px;
    --space-xl: 128px;
    --space-lg: 64px;
    --space-md: 32px;
    --space-sm: 16px;
    --space-xs: 8px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
